@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

:root {
  --theme-background-color: #1d1d1d;
  --theme-main-color: #ffdd40;
  --theme-sub-text-color: #ffffff;
  --theme-nav-background-color: #181818;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--theme-background-color);
  height: 100%;
}

#root {
  height: 100%;
}

.loading {
  filter: blur(10px);
}

.loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}
